//
//  Debug.xcconfig
//  duet
//
//  Created by Cedric Pansky on 8/5/19.
//  Copyright © 2019 Duet, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-duet/Pods-duet.debug.xcconfig"

PRODUCT_BUNDLE_ID=com.kairos.duetMac.debug
PRODUCT_BUNDLE_ID_AWDL_TOOL=com.kairos.awdltool.xpc

AWDLToolXPCAppCertificate=identifier "com.kairos.duetMac.debug" and anchor apple generic and certificate leaf[subject.CN] = "Apple Development: Cedric Pansky (57U98N6RBR)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */
AWDLToolHostAppCertificate=anchor apple generic and identifier "com.kairos.awdltool.xpc" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = J6L96W8A86)
